@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Manrope", system-ui;
    background-color: #EEE5FF;
}

button {
    @apply py-2.5 px-5 capitalize text-white font-bold bg-primary rounded-full hover:scale-105 transition-all
}

/* HEADER */

.header {
    @apply py-4 flex items-center justify-between
}

.header .logo {
    @apply w-14
}

.header ul {
    @apply flex gap-4 items-center
}

.header ul li a {
    @apply font-semibold text-lg capitalize
}


/* BANNER */

.banner {
    @apply text-center py-24 space-y-8
}

.banner .badge {
    @apply bg-green-500 bg-opacity-20 text-green-700 font-bold py-2 px-4 rounded-full
}

.banner h2 {
    @apply font-extrabold text-5xl leading-snug
}

.banner_cat_card {
    @apply bg-third bg-opacity-25 py-1.5 px-3 rounded-full flex items-center gap-3 cursor-pointer hover:bg-opacity-50 transition-all
}

.banner_cat_card img {
    @apply w-6 h-6
}

.banner_cat_card h3,
.cat_card h3 {
    @apply font-bold text-primary
}

.cat_card {
    @apply bg-third bg-opacity-25 p-5 rounded-3xl cursor-pointer hover:bg-opacity-50 transition-all space-y-3
}

.cat_card img {
    @apply w-10 h-10 mx-auto
}

.cat_container {
    @apply flex flex-wrap gap-4 items-center justify-center pt-5
}

.scroll_container {
    @apply flex gap-2 justify-center items-center mt-32
}

.scroll_container img {
    animation: wave 5s infinite;;
}


/* FOOTER */

.footer {
    @apply bg-white py-5 text-center
}

.footer h2 {
    @apply font-medium text-lg
}


/* ERROR PAGE */

.error {
    @apply min-h-screen items-center flex justify-center
}

.error img{
    @apply w-2/5 mx-auto
}


/* LOADER */
.loader {
    width: 15px;
    aspect-ratio: 1;
    position: relative;
    animation: l9-0 1.5s infinite steps(2);
  }
  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #000;
  }
  .loader::before {
    box-shadow: 26px 0;
    transform: translateX(-26px);
    animation: l9-1 .75s infinite linear alternate;
  }
  .loader::after {
    transform: translateX(13px) rotate(0deg) translateX(13px);
    animation: l9-2 .75s infinite linear alternate;
  }
  @keyframes l9-0 {
      0% ,49.9% {transform: scale(1)}
      50%,100%  {transform: scale(-1)}
  }
  @keyframes l9-1 {
      100%{box-shadow: 52px 0}
  }
  @keyframes l9-2 {
      100%{transform: translateX(13px) rotate(-180deg) translateX(13px)}
  }

@keyframes wave {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}